@model IEnumerable<RealEstateBusiness.Models.Branch>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        body {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size:20px;
            color: cadetblue;
        }

        th, td {
            border:1px solid;
            border-color:cadetblue;
        }
    </style>
</head>
<body>
    <p>
        <h1>Branches</h1>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BranchNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostCode)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BranchNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostCode)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.BranchNo }) |
                @Html.ActionLink("Details", "Details", new { id=item.BranchNo }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.BranchNo })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
